<nav class="navbar navbar-style fixed-top">
  <div class="container">
    <a class="navbar-brand navbar-title">Recipe Book</a>

    <div class="navbar-default" id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="display: flex;flex-direction: row;">
        <li class="nav-item" routerLinkActive="active" style="margin: 15px">
          <a class="nav-link navbar-link-style" routerLink="/recipes">Recipies
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin: 15px">
          <a class="nav-link navbar-link-style" routerLink="/shopping-list">Shopping List</a>
        </li>
        <li class="nav-item" routerLinkActive="active" style="margin: 15px">
          <a class="nav-link navbar-link-style" routerLink="/bookmark">Bookmark</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

