<a class="card-container-style" (click)="onClickHandler(cardId)">
  <div class="row">
    <div *ngIf="isCardImage" [ngClass]="{'col-md-4 display-flex': isCardImage}">
      <span>
            <img [src]="cardImage" alt="{{cardTitle}}" class="{{imageDisplayStyle}}">
      </span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8"><h4 class="title-style">{{cardTitle}}</h4></div>
        <div class="col-md-4 publisher-style" *ngIf="cardOwnerExist"><p>{{cardPublisher}}</p></div>
      </div>
      <div class="row">
        <div class="col-md-12 description-style">{{cardDescription}}</div>
      </div>
      <div class="row additionalInfo-style">
        <ng-content select=".additionalInfo"></ng-content>
      </div>
    </div>
  </div>
  <div class="row footerNotes-style">
    <ng-content select=".footerNotes"></ng-content>
  </div>
</a>
